header{
    background-color: teal;
    padding: 12px 48px;
}

#smallscreen, #mediumscreen,#largescreen {
    padding: 48px;
}
footer{
    background-color: lavender;
    padding: 12px 48px;
}
@media screen and (min-width:800px) {
    header{
        font-size: 36px;
    }
    #largescreen{
        background-color: red;
        color: white;
    }
    #mediumscreen, #smallscreen{
        background-color: grey;
        color: grey;
    }
}
@media screen and (min-width:480px) and (max-width:799px)
{
    header{
        font-size: 24px
    }
    #mediumscreen{
        background-color: darkgreen;
        color: white;
    }
    #largescreen,#smallscreen{
        background-color: grey;
        color: grey;
    }
}

@media screen and (max-width: 479px){
    header{
        font-size: 16px;
    }
    #smallacreen{
        background-color: blue;
        color: white;
    }
    #mediumscreen,#largescreen{
        background-color: grey;
        color: grey;
    }
    footer{
        display: none;
    }
}
