body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    background-image: url("../images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    margin-bottom: 50px;  
}


